<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.7" targetFramework="net452" />
  <package id="AWSSDK.SimpleWorkflow" version="3.3.0.6" targetFramework="net452" />
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net452" />
  <package id="FsUnit" version="2.3.2" targetFramework="net452" />
  <package id="Fuchu" version="1.0.3.0" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
</packages>